<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Lámparas</title>
</head>
<body>
    <h1>Editar Lampara</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="endpoint" value="/api/lampara/{{ lampid }}/">
        <input type="hidden" name="_method" value="PUT">
        <button>EDITAR</button>
    </form>
    
</body>
</html>