<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Lámparas</title>
</head>
<body>
    <h1>Lamparas</h1>

    <ul>
        {% for lampara in lamparas %}
        <li>
            <h4>{{ lampara.nombre }}</h4>
            <p>Precio: ${{ lampara.precio }}</p>
            <p>Cantidad: {{ lampara.cantidad }} piezas</p>
            <p>Fecha: {{ lampara.fecha }}</p>
            <!--<form action="/api/lampara/{{ lampara.pk }}/" method="POST">-->
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="endpoint" value="/api/lampara/{{ lampara.pk }}">
                <input type="hidden" name="_method" value="DELETE">
                <button>BORRAR</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>