{% extends "base.html" %}

{% block title %}
<h1>Detalle de Silla</h1>
{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Material: {{ silla.tipo }}</p>
    <p>Precio: $ {{ silla.precio }}</p>
    <p>Cantidad: {{ silla.cantidad }}</p>
    <p>Fecha: {{ silla.fecha }}</p>
    <p>Disponibilidad: {{ silla.disponible }}</p>

    <h2>Editar Silla</h2>
<form method="post" action="{% url 'silla-detail' silla.id %}">
    {% csrf_token %}
    <input type="hidden" name="_method" value="put">

    <label for="tipo" class="form-label">Tipo:</label>
    <input type="text" id="tipo" name="tipo" value="{{ silla.tipo }}" required class="form-control"><br>

    <label for="precio" class="form-label">Precio:</label>
    <input type="number" id="precio" name="precio" value="{{ silla.precio }}" required class="form-control"><br>

    <label for="cantidad" class="form-label">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" value="{{ silla.cantidad }}" required class="form-control"><br>

    <label for="disponible" class="form-label">Disponibilidad</label>
    <input type="checkbox" name="disponible" id="disponibile"><br>

    <input type="hidden" id="fecha" name="fecha" value="{{ silla.fecha|date:'Y-m-d H:i:s' }}"><!-- Campo oculto para la fecha -->

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>

    <!-- Volver a la lista de sillas -->
    <a href="{% url 'silla-list' %}">Volver a la lista</a>

{% endblock %}
